<div style="background-color: #296fdc">
<app-navbar></app-navbar>
</div>
<div class="container-fluid" style="padding-left: 73px;padding-right: 30px;">
  <br>
  <div class="row">
    <div class="col-md-12">
       <p class="fontalgntxt">Program & University &nbsp; <i class="fa fa-angle-right"></i> &nbsp; MS &nbsp; <i class="fa fa-angle-right"></i> &nbsp; Electrical Engineering</p>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-12">
         <h1 class="fontalgnhead">MS in Electrical Engineering Abroad</h1>
      </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
           <p class="fontalgntxt1">291 universities found</p>
        </div>
        <div class="col-md-6" style="padding-right: 90px;">
            <div class="dropdwnalign">
                <div class="container">
                <a class=" btn text-muted dropdownfa" data-toggle="dropdown" href="#">Sort by</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a class="textclr">Item I</a></li>
                  <li class="dropdown-item"><a class="textclr">Item II</a></li>
                  <li class="dropdown-item"><a class="textclr">Item III</a></li>
                  <!-- <li class="dropdown-item"><a class="textclr" href="#">Item IV</a></li>
                  <li class="dropdown-item"><a class="textclr" href="#">Item V</a></li>
                  <li class="dropdown-item"><a class="textclr" href="#">Other</a></li> -->
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
      <hr style="border-top:1px solid rgba(0, 0, 0, 0.04);">
      <br>

        <!-- filter and university details-->
<div class="container-fluid" style="padding-left: 73px;padding-right: 30px;">
      <div class="row">
        <div class="col-md-4" style="padding-right: 50px;">
          
          <div class="leftfilternav">
            <h1 class="filternavhead">Modify your search</h1>
            <p class="filternavtxt">Study Destination</p>
            <!-- Study destination dropdown-->
            <div class="container1">
                <button id="dLabel" class="dropdownfa1" data-toggle="dropdown">Change Country</button>
                <ul class="dropdown-menu dropdwnscrol dropdown-menu-filter">
                  <li class="dropdown-item"><span class="textclr">option 1</span></li>
                  <li class="dropdown-item"><span class="textclr">option 2</span></li>
                  <li class="dropdown-item"><span class="textclr">option 3</span></li>
                  <li class="dropdown-item"><span class="textclr">option 4</span></li>
                  <li class="dropdown-item"><span class="textclr">option 5</span></li>
                  <li class="dropdown-item"><span class="textclr">option 6</span></li>
                </ul>
              </div>
            <!--end dropdown-->
            <p class="filternavtxt">Program Level</p>
            <!--checkbox-->
            <div class="container3">
            <div class="checkbxbg">
                <div class="scrollbar">
                    <div class="overflow">
              <label class="customcheck">Diploma/Certificate
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
              <label class="customcheck">Bachelor's Degree
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="customcheck">Master's Degree
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="customcheck">Doctorate/PhD
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <!--sample-->
              <label class="customcheck">Diploma/Certificate
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="customcheck">Bachelor's Degree
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <!-- <label class="customcheck">Master's Degree
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="customcheck">Doctorate/PhD
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> -->
              </div></div>
            </div>
          </div>
            <p class="filternavtxt">Area of Interest</p>
            <!--checkbox-->
            <div class="container3">
            <div class="checkbxbg">
                <div class="scrollbar">
                    <div class="overflow">
              <label class="customcheck">Agriculture
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
              <label class="customcheck">Computer Science & IT
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="customcheck">Creative Arts & Design
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="customcheck">Engineering & Technology
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <!--sample check-->
              <label class="customcheck">Agriculture
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <label class="customcheck">Computer Science & IT
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <label class="customcheck">Creative Arts & Design
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <label class="customcheck">Engineering & Technology
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <label class="customcheck">Agriculture
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="customcheck">Computer Science & IT
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="customcheck">Creative Arts & Design
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="customcheck">Engineering & Technology
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="customcheck">Agriculture
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="customcheck">Computer Science & IT
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="customcheck">Creative Arts & Design
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="customcheck">Engineering & Technology
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="customcheck">Agriculture
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <label class="customcheck">Computer Science & IT
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <label class="customcheck">Creative Arts & Design
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <label class="customcheck">Engineering & Technology
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <label class="customcheck">Agriculture
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                        <label class="customcheck">Computer Science & IT
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                        <label class="customcheck">Creative Arts & Design
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                        <label class="customcheck">Engineering & Technology
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
              <!--end sample-->
              </div></div>
              </div>
              </div>
            <p class="filternavtxt">Course Specialization</p>
            <!-- Course Specialization dropdown-->
            <div class="container2">
            <button id="dLabel" class="dropdownfa2" data-toggle="dropdown">Select Course Specialization</button>
                <ul class="dropdown-menu dropdwnscrol dropdown-menu-filter">
                  <li class="dropdown-item"><p class="textclr">Course 1</p></li>
                  <li class="dropdown-item"><p class="textclr">Course 2</p></li>
                  <li class="dropdown-item"><p class="textclr">Course 3</p></li>
                  <li class="dropdown-item"><p class="textclr">Course 4</p></li>
                  <li class="dropdown-item"><p class="textclr">Course 5</p></li>
                  <li class="dropdown-item"><p class="textclr">Course 6</p></li>
                </ul>
              </div>
        <!--end dropdown-->
        <p class="filternavtxt">Exams Accepted</p>
        <div class="row container3">
          <div class="col-md-4">
          <!--dropdown-->
          <button id="dLabel1" class="dropdownfa3" data-toggle="dropdown">Select Exam</button>
          <ul class="dropdown-menu dropdwnscrol dropdown-menu-filter1">
            <li class="dropdown-item"><div class="textclr">Exam 1</div></li>
            <li class="dropdown-item"><div class="textclr">Exam 2</div></li>
            <li class="dropdown-item"><div class="textclr">Exam 3</div></li>
            <li class="dropdown-item"><div class="textclr">Exam 4</div></li>
            <li class="dropdown-item"><div class="textclr">Exam 5</div></li>
            <li class="dropdown-item"><div class="textclr">Exam 6</div></li>
          </ul>
          </div>
          <div class="col-md-1" style="margin-left:22px;"></div>
          <div class="col-md-4">
           <!--dropdown-->
           <button id="dLabel1" class="dropdownfa4" data-toggle="dropdown">Any Score</button>
           <ul class="dropdown-menu dropdwnscrol dropdown-menu-filter1">
             <li class="dropdown-item"><option class="textclr">Score 1</option></li>
             <li class="dropdown-item"><option class="textclr">Score 2</option></li>
             <li class="dropdown-item"><option class="textclr">Score 3</option></li>
             <li class="dropdown-item"><option class="textclr">Score 4</option></li>
             <li class="dropdown-item"><option class="textclr">Score 5</option></li>
             <li class="dropdown-item"><option class="textclr">Score 6</option></li>
           </ul>
            </div>
        </div>
        <!-- <div class="select-wrapper">
            <select id="dLabel">
              <option selected="selected">Change Country</option>
              <option class="textclr">Option 1</option>
              <option class="textclr">Option 2</option>
              <option class="textclr">Option 3</option>
              <option class="textclr">Option 4</option>
              <option class="textclr">Option 5</option>
              <option class="textclr">Option 6</option>
              <option class="textclr">Option 7</option>
              <option class="textclr">Option 8</option>
              <option class="textclr">Option 9</option>
              <option class="textclr">Option 10</option>
              <option class="textclr">Option 11</option>
              <option class="textclr">Option 12</option>
              <option class="textclr">Option 13</option>
              <option class="textclr">Option 14</option>
              <option class="textclr">Option 15</option>
              <option class="textclr">Option 16</option>
              <option class="textclr">Option 17</option>
              <option class="textclr">Option 18</option>
              <option class="textclr">Option 19</option>
              <option class="textclr">Option 20</option>
            </select>
          </div> -->
          </div>
        </div> 
        <div class="col-md-7" style="padding-right: 0px;padding-left: 15px;">
          <!-- University part-->
          <div class="card">
            <div class="row no-gutters">
              <div class="col-auto">
                <div class="img-wrap">
                  <img src="/assets/template/universityimages.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <div class="col bgcolor">
                <div class="card-block px-2">
                 <h1 class="unihead">Master's Degree in Conversion of Electric Power and systems</h1>
                 <p class="unitxt text-muted">University of Concordia &nbsp;<i class="fa fa-circle" style="font-size:6px;color:#774fe5;"></i> &nbsp; Montreal,Canada</p>
                 <!--white panel-->
                 <div class="panl">
                 <div class="bgunidel">
                 <div class="row">
                <div class="col-md-3">
                  <p class="unitxt1 text-muted">University Status</p>
                  <p class="unitxt2">Public</p>
                </div>
                <div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">
                    <p class="unitxt1 text-muted">Duration of Study</p>
                    <p class="unitxt2">2 Years</p>
                  </div>
                  <div class="col-md-3">
                      <p class="unitxt1 text-muted">Scholarship</p>
                      <p class="unitxt2">Yes</p>
                    </div>
                    <div class="col-md-3">
                        <p class="unitxt1 text-muted">Total Students</p>
                        <p class="unitxt2">12900</p>
                      </div>
                 </div>
                </div>
              </div>
               <!--button-->
               <div class="panl1">
               <button class="btn1 btn-outline-success-submt" type="submit">Add to Compare</button>&nbsp; &nbsp;
               <button class="btn1 btn-outline-success-submt" type="submit">Check Probability</button>
              </div>
                </div>
              </div>
            </div>
          </div>
          <br><br>
          <!--sample-->
          <!-- University part-->
          <div class="card">
              <div class="row no-gutters">
                <div class="col-auto">
                  <div class="img-wrap">
                    <img src="/assets/template/universityimages1.jpg" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col bgcolor">
                  <div class="card-block px-2">
                   <h1 class="unihead">Master's Degree in Conversion of Electric Power and systems</h1>
                   <p class="unitxt text-muted">University of Concordia &nbsp;<i class="fa fa-circle" style="font-size:6px;color:#774fe5;"></i> &nbsp; Montreal,Canada</p>
                   <!--white panel-->
                   <div class="panl">
                   <div class="bgunidel">
                   <div class="row">
                  <div class="col-md-3">
                    <p class="unitxt1 text-muted">University Status</p>
                    <p class="unitxt2">Public</p>
                  </div>
                  <div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">
                      <p class="unitxt1 text-muted">Duration of Study</p>
                      <p class="unitxt2">2 Years</p>
                    </div>
                    <div class="col-md-3">
                        <p class="unitxt1 text-muted">Scholarship</p>
                        <p class="unitxt2">Yes</p>
                      </div>
                      <div class="col-md-3">
                          <p class="unitxt1 text-muted">Total Students</p>
                          <p class="unitxt2">12900</p>
                        </div>
                   </div>
                  </div>
                </div>
                 <!--button-->
                 <div class="panl1">
                 <button class="btn1 btn-outline-success-submt" type="submit">Add to Compare</button>&nbsp; &nbsp;
                 <button class="btn1 btn-outline-success-submt" type="submit">Check Probability</button>
                </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end sample-->
            <br><br>
          <!--sample-->
          <!-- University part-->
          <div class="card">
              <div class="row no-gutters">
                <div class="col-auto">
                  <div class="img-wrap">
                    <img src="/assets/template/universityimages2.jpg" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col bgcolor">
                  <div class="card-block px-2">
                   <h1 class="unihead">Master's Degree in Conversion of Electric Power and systems</h1>
                   <p class="unitxt text-muted">University of Concordia &nbsp;<i class="fa fa-circle" style="font-size:6px;color:#774fe5;"></i> &nbsp; Montreal,Canada</p>
                   <!--white panel-->
                   <div class="panl">
                   <div class="bgunidel">
                   <div class="row">
                  <div class="col-md-3">
                    <p class="unitxt1 text-muted">University Status</p>
                    <p class="unitxt2">Public</p>
                  </div>
                  <div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">
                      <p class="unitxt1 text-muted">Duration of Study</p>
                      <p class="unitxt2">2 Years</p>
                    </div>
                    <div class="col-md-3">
                        <p class="unitxt1 text-muted">Scholarship</p>
                        <p class="unitxt2">Yes</p>
                      </div>
                      <div class="col-md-3">
                          <p class="unitxt1 text-muted">Total Students</p>
                          <p class="unitxt2">12900</p>
                        </div>
                   </div>
                  </div>
                </div>
                 <!--button-->
                 <div class="panl1">
                 <button class="btn1 btn-outline-success-submt" type="submit">Add to Compare</button>&nbsp; &nbsp;
                 <button class="btn1 btn-outline-success-submt" type="submit">Check Probability</button>
                </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end sample-->
            <br><br>
          <!--sample-->
          <!-- University part-->
          <div class="card">
              <div class="row no-gutters">
                <div class="col-auto">
                  <div class="img-wrap">
                    <img src="/assets/template/universityimages3.jpg" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col bgcolor">
                  <div class="card-block px-2">
                   <h1 class="unihead">Master's Degree in Conversion of Electric Power and systems</h1>
                   <p class="unitxt text-muted">University of Concordia &nbsp;<i class="fa fa-circle" style="font-size:6px;color:#774fe5;"></i> &nbsp; Montreal,Canada</p>
                   <!--white panel-->
                   <div class="panl">
                   <div class="bgunidel">
                   <div class="row">
                  <div class="col-md-3">
                    <p class="unitxt1 text-muted">University Status</p>
                    <p class="unitxt2">Public</p>
                  </div>
                  <div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">
                      <p class="unitxt1 text-muted">Duration of Study</p>
                      <p class="unitxt2">2 Years</p>
                    </div>
                    <div class="col-md-3">
                        <p class="unitxt1 text-muted">Scholarship</p>
                        <p class="unitxt2">Yes</p>
                      </div>
                      <div class="col-md-3">
                          <p class="unitxt1 text-muted">Total Students</p>
                          <p class="unitxt2">12900</p>
                        </div>
                   </div>
                  </div>
                </div>
                 <!--button-->
                 <div class="panl1">
                 <button class="btn1 btn-outline-success-submt" type="submit">Add to Compare</button>&nbsp; &nbsp;
                 <button class="btn1 btn-outline-success-submt" type="submit">Check Probability</button>
                </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end sample-->
            <br><br>
          <!--sample-->
          <!-- University part-->
          <div class="card">
              <div class="row no-gutters">
                <div class="col-auto">
                  <div class="img-wrap">
                    <img src="/assets/template/universityimages4.jpg" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col bgcolor">
                  <div class="card-block px-2">
                   <h1 class="unihead">Master's Degree in Conversion of Electric Power and systems</h1>
                   <p class="unitxt text-muted">University of Concordia &nbsp;<i class="fa fa-circle" style="font-size:6px;color:#774fe5;"></i> &nbsp; Montreal,Canada</p>
                   <!--white panel-->
                   <div class="panl">
                   <div class="bgunidel">
                   <div class="row">
                  <div class="col-md-3">
                    <p class="unitxt1 text-muted">University Status</p>
                    <p class="unitxt2">Public</p>
                  </div>
                  <div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">
                      <p class="unitxt1 text-muted">Duration of Study</p>
                      <p class="unitxt2">2 Years</p>
                    </div>
                    <div class="col-md-3">
                        <p class="unitxt1 text-muted">Scholarship</p>
                        <p class="unitxt2">Yes</p>
                      </div>
                      <div class="col-md-3">
                          <p class="unitxt1 text-muted">Total Students</p>
                          <p class="unitxt2">12900</p>
                        </div>
                   </div>
                  </div>
                </div>
                 <!--button-->
                 <div class="panl1">
                 <button class="btn1 btn-outline-success-submt" type="submit">Add to Compare</button>&nbsp; &nbsp;
                 <button class="btn1 btn-outline-success-submt" type="submit">Check Probability</button>
                </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end sample-->
            <br><br>
          <!--sample-->
          <!-- University part-->
          <div class="card">
              <div class="row no-gutters">
                <div class="col-auto">
                  <div class="img-wrap">
                    <img src="/assets/template/universityimages5.jpg" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col bgcolor">
                  <div class="card-block px-2">
                   <h1 class="unihead">Master's Degree in Conversion of Electric Power and systems</h1>
                   <p class="unitxt text-muted">University of Concordia &nbsp;<i class="fa fa-circle" style="font-size:6px;color:#774fe5;"></i> &nbsp; Montreal,Canada</p>
                   <!--white panel-->
                   <div class="panl">
                   <div class="bgunidel">
                   <div class="row">
                  <div class="col-md-3">
                    <p class="unitxt1 text-muted">University Status</p>
                    <p class="unitxt2">Public</p>
                  </div>
                  <div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">
                      <p class="unitxt1 text-muted">Duration of Study</p>
                      <p class="unitxt2">2 Years</p>
                    </div>
                    <div class="col-md-3">
                        <p class="unitxt1 text-muted">Scholarship</p>
                        <p class="unitxt2">Yes</p>
                      </div>
                      <div class="col-md-3">
                          <p class="unitxt1 text-muted">Total Students</p>
                          <p class="unitxt2">12900</p>
                        </div>
                   </div>
                  </div>
                </div>
                 <!--button-->
                 <div class="panl1">
                 <button class="btn1 btn-outline-success-submt" type="submit">Add to Compare</button>&nbsp; &nbsp;
                 <button class="btn1 btn-outline-success-submt" type="submit">Check Probability</button>
                </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end sample-->
        </div>
      </div>
      <br>
      <br> 
    </div> 
    <div class="container-fluid">
       <!--showing result-->
       <div class="row">
          <div class="col-md-3"></div>
         <div class="col-md-6">
             <div class="paginatn">
              <div class="paginatntxt">Showing 1-6 of 291 results
                <!--pagination-->
               <div style="float:right;padding-right:30px;">
                <div class="pagination">
                  <span>
                    <a class="page-link" href="#">1</a>
                  </span>
                  <span class="pagintnspace">
                    <a class="page-link" href="#">2</a>
                  </span>
                  <span class="pagintnspace">
                    <a class="page-link" href="#">3</a>
                  </span>
                  <span class="pagintnspace">
                    <a class="page-link" href="#">4</a>
                  </span>
                  <span class="pagintnspace">
                    <a class="page-link" href="#">5</a>
                  </span>
                  <span class="pagintnspace1">
                      <a class="pagelinktxt" href="#">Next</a>
                    </span>
                </div>
              </div>
              </div>
             </div>
         </div>
         <div class="col-md-3"></div>
        </div>
        <br>
        </div>
       
        
     <app-footerpage></app-footerpage>