<br>
<br>
<br>
<br>
<br>
<!--modal-->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="text-center">Register Account Activation</h1>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <div class="panel-body">
                <!-- Custom Success/Error Message -->
                <div class="row show-hide-message">
                  <div [ngClass]="messageClass">
                    {{ message }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>