<br>
<br>
<br>
<br>
<br>
<flash-messages></flash-messages>
<!-- Custom Success/Error Message -->
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>
<!--modal-->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="text-center">What's My New Password?</h1>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">

              <div class="panel-body">
                <fieldset>
                  <form [formGroup]="form" (submit)="onSavePassword()">
                    <div class="form-group">
                      <input class="form-control input-lg" placeholder="email" formControlName="email" name="email" type="text">
                    </div>
                    <div class="form-group">
                      <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
                        <input class="form-control input-lg" placeholder="New Password" formControlName="password" name="password" type="password">
                        <!-- Validation -->
                        <ul class="help-block">
                          <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</li>
                          <li *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty ">Minimum characters: 8, Maximum characters: 35</li>
                        </ul>
                      </div>
                    </div>
                    <!--<div class="form-group">
                                      <input class="form-control input-lg" placeholder="Confirm password" [(ngModel)]="cnfpassword" name="cnfpassword" type="text">
                                    </div>-->
                    <input class="btn btn-lg btn-primary btn-block" value="Save My Password" type="submit">
                  </form>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-md-12">
        <button class="btn" data-dismiss="modal" aria-hidden="true" (click)="moveToLogin()">Cancel</button>
      </div>
    </div>
  </div>
</div>