<br>
<br>
<br>
<br>
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>
<div class="body">
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
      <label for="tab-1" class="tab">Sign In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up">
      <label for="tab-2" class="tab"></label>
      <div class="login-form">
        <div class="sign-in-htm">
          <form [formGroup]="form" (submit)="onLoginSubmit()">
            <div class="group">
              <label for="user" class="label">Email</label>
              <input id="user" type="text" class="input" name="email" formControlName="email">
            </div>
            <div class="group">
              <label for="pass" class="label">Password</label>
              <input id="pass" type="password" class="input" data-type="password" name="password" formControlName="password">
            </div>
            <div class="group">
              <input type="submit" class="button" value="Sign In">
            </div>
          </form>
          <div class="foot-lnk">
            <a routerLink="/resendactivation">Resend Activationlink</a>
          </div>
          <div class="hr"></div>
          <div class="foot-lnk1">
            <a routerLink="/forgotpassword">Forgot Password?</a>
          </div>
          <p class="or">Or</p>
          <div class="social-networks">
            <a href="/auth/facebook" target="_blank" class="facebook">
              <i class="fa fa-facebook-official"></i>
            </a>
            <a href="#" class="google">
              <i class="fa fa-google-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>