/*Background Image */
.countrypage-img{
    background: url("/assets/template/countrypageimg/Banner-image.png") center center/cover no-repeat;
    width:100%;
  height: auto;
}
.ptext{
    padding-top: 90px;
}
p{
    margin-bottom: 0px;
}
.h3text{
    padding-top: 30px; font-size: 110px;
}
.nowrap {
    white-space: nowrap ;
}
.checkimgalign
{
    margin-left: -218px;
    margin-top: -266px;
}
.checkimgalign
{
    margin-left: -218px;
    margin-top: -267px;
}
.countryhead{
    font-size: 25px;
    font-weight: 500px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.countrytxt{
    font-size: 18px;
    font-weight: 400;
    margin-bottom:0px;
    padding-bottom: 15px;
    padding-top: 15px;

}
.subtext{
    padding-top:15px;
    padding-bottom: 15px;
    font-size: 18px;
}
ul>.nav-item{
   
    padding-left: 30px;
    padding-right: 30px;

}
.navbar-dark .navbar-nav .nav-link{
    font-size: 22px;
    color:black;
    font-weight: 500;
}
.bg-dark{
    background-color:white !important;
}

/* col-md-4 sections */
#rcorner {
    border-radius: 20px;
    background: #a9a9a921;
    padding: 20px; 
    width: 350px;
    height: 450px; 
 }
 #viewall {
    border-radius: 5px;
    border: 1px solid #20c997;
    background: white;
    padding: 10px; 
    width: 800px;
    /* height: 40px; 
  padding-top: 5px; */
    /* padding-left: 17px; */

 }
.colr>.cl>ul {
    list-style: none;
  }
  .colr>.cl>ul li{
      font-size: 20px;
      font-weight: 400;
  }
 .colr>.cl>ul li::before {
    content: "\2022";
    color: #962fdc;
    font-size: 25px;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }  
  #rcorner1 {
    border-radius: 20px;
    background: #a9a9a921;
    padding: 20px; 
    width: 350px;
    height: 400px; 
 }
 /* select box1  */
 #dLabel {
    width: 280px;
  height: 40px;
  border-radius: 8px;
  background-color: #fff;
  border: solid 1px #fff;
  text-align: left;
  padding: 7.5px 15px;
  color: #ccc;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-weight: 600;
}
.container1{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}
button.dropdownfa1:after{
    font-family: FontAwesome;
    display: inline-block;
   padding-left:0px;
    padding-right: 6px;
    vertical-align: middle;
    color:black;
    font-size: 20px;
 }
 button.dropdownfa1:after {
    content: "\f107";
    float: right;
 }
 .dropdown-menu-filter {
    width: 240px;
    padding: 0;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .dropdwnscrol{
    height:100px;
    overflow-y: scroll;
}
.dropdown-item:active{
    color:black;
    background-color:transparent;
    }
    .textclr{
        color:black;
        }
        /* select option { padding: 6px;} */
       
        .textclr:hover{
        color:black;
        background-color:transparent;
        }
        button.dropdownfa2:after {
            content: "\f107";
            float: right;
         }
         button.dropdownfa2:after{
            font-family: FontAwesome;
            display: inline-block;
           padding-left:0px;
            padding-right: 6px;
            vertical-align: middle;
            color:black;
            font-size: 20px;
         }
         #dLabel1 {
            width: 130px;
          height: 40px;
          border-radius: 8px;
          background-color: #fff;
          border: solid 1px #fff;
          text-align: left;
          padding: 7.5px 15px;
          color: #ccc;
          letter-spacing: -0.3px;
          font-size: 14px;
          font-weight: 600;
        }

        button.dropdownfa4:after {
            content: "\f107";
            float: right;
         }
         button.dropdownfa4:after{
            font-family: FontAwesome;
            display: inline-block;
           padding-left:0px;
            padding-right: 0px;
            vertical-align: middle;
            color:black;
            font-size: 20px;
         }
         .dropdown-menu-filter1 {
            width: 0px;
            padding: 0;
            margin: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
          button.dropdownfa3:after {
            content: "\f107";
            float: right;
         }
         button.dropdownfa3:after{
            font-family: FontAwesome;
            display: inline-block;
           padding-left:0px;
            padding-right: 0px;
            vertical-align: middle;
            color:black;
            font-size: 20px;
         }
         .btn{
             width:150px;
             background-color: #28a745;
             color: white;
             font-size:15px;
             font-weight: 500;
         }
   /* checkmarkcircle */
         #roundcheck{
            border:1px solid #774fe5;
            width:18px;
            height:18px;
            border-radius:50%;
            position: absolute;
            }
            .checkmark{
            font-size:13px;
            color:#02cf32;
            position:absolute;
            left:1px;
            right:0px;
            padding-top:1px;
            }
 .checktd{           
    padding-top: 3px;
    padding-right: 2px;
    padding-left: 0px;
    padding-bottom: 9px;
}
.checktext{
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 0px;
    padding-bottom: 0px;
}
a{
    text-decoration: none;
    color:#774fe5;
}
#more {display: none;}
#more1 {display: none;}

.advertise_bg{
    background: url("/assets/template/countrypageimg/mytrip.jpg")center center/cover no-repeat;
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
    width:350px;
    padding-bottom:20px;
}
.center_img{
    text-align: center;
}
.ad_img2{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 120px;
}
.ad_head{
    color: white;
    font-size: 25px;
    font-weight:700;
    margin-bottom: 0px;
}
.ad_content{
 padding-left: 20px;
}
.ad_text{
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}
.advertise_panel{
   
    background: #a9a9a921;
    padding: 30px; 
    width: 350px; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.advertise_panel_txt{
    margin-bottom: 0px;
    font-size: 15px;
}
.btncenter{
    text-align: center;
}
.scholar_bg{
   background-color:#774fe5;
    width:350px;
    border-top-right-radius: 15px;
   border-top-left-radius: 15px;
  
}
.scholr_head{
    color:white;
    font-size: 22px;
    font-weight: 600;
}
.scholarimg{
    background: url("/assets/template/Scholarship.png")center center/cover no-repeat;
    width: 350px;
    height:400px;
   
}
.sch_head{
    margin-bottom:0px;
    font-size: 23px;
    font-weight: 700;
}
.sch_text{
    margin-bottom:0px;
    padding-top:5px;
    font-size: 14px;
    font-weight: 600;
}
#viewall>a{
    color:black;
    text-align: center;
}
.container-fluid{
    padding-left: 45px;padding-right: 45px;
}
@media (min-width: 1800px) and (max-width: 1920px) {
    .container-fluid{
        padding-left: 190px;padding-right: 45px;
    }
    .containernav{
        padding-left: 130px;
    }
}

@media (min-width: 1500px) and (max-width: 1600px) {
    .container-fluid{
        padding-left: 100px;padding-right: 45px;
    }
    .containernav{
        padding-left: 44px;
    }
}

@media (min-width: 1300px) and (max-width: 1440px) {
    .container-fluid{
        padding-left: 65px;padding-right: 45px;
    }
    .containernav{
        padding-left: 10px;
    }
}

  
