<div class="img-block">
    <img class="imgA1" src="/assets/template/testimonial-background.svg">
    <img class="imgB1" src="/assets/template/footer.svg">
   

    <div class="container container2">
        <div class="row">
            <div class="col-md-4">
                <h1 class="footerhead">What our students have to say about us?</h1>
              </div>
              <div class="col-md-2">
                </div>
                <div class="col-md-6">
                    <img src="/assets/template/images.jpg" class="imgfounder" alt="Avatar">
                    <p class="foundername">Ajay Nandkishore
                        <br><span style="font-size: 12px;font-weight: 200;">B.Tech,Stanford University</span>
                      </p>                  
                  </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="padding-top: 29px;">
                <div class="rec"></div>
                <div class="rec recmiddle"></div>
                <div class="rec"></div>
                <div class="rec"></div>
              </div>
              <div class="col-md-2">
                </div>
              <div class="col-md-6">
                  <p class="quotes">"Lorem ipsum dolor sit amet, ingelit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna."</p>
                </div>
                <div id="contentfooter">
                  <div class="recfooter"></div>
                  <div class="recfooter recfootermiddle"></div>
                  <div class="recfooter"></div>
                </div>
  
        </div>
  </div>
    <div class="container container1">
      <div class="row">
        <div class="col-md-3">
          <h4 class="heading">Discover</h4>
          <ul>
            <li><a href="#">Course matching tool</a></li>
            <li><a href="#">Check your probablity</a></li>
            <li><a href="#">University search</a></li>
            <li><a href="#">Subject guides</a></li>
            <li><a href="#">Scholarship advice</a></li>
            <li><a href="#">Study destination guides</a></li>
          </ul>
          </div>
          <div class="col-md-3">
              <h4 class="heading">University</h4>
              <ul>
                <li><a href="#">MBA Colleges</a></li>
                <li><a href="#">MS Colleges</a></li>
                <li><a href="#">BE / B.Tech Colleges</a></li>
                <li><a href="#">BBA Colleges</a></li>
                <li><a href="#">Master in Hospitality</a></li>
                <li><a href="#">Master in Journalism</a></li>
        
              </ul>
              </div>
              <div class="col-md-3">
                  <h4 class="heading">Community</h4>
                  <ul>
                    <li><a href="#">Prepare of Tests</a></li>
                    <li><a href="#">Prepare to apply</a></li>
                    <li><a href="#">Q&A forum</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Video</a></li>
                    <li><a href="#">How to apply for Visa?</a></li>
            
                  </ul>
                  </div>
                  <div class="col-md-3">
                      <h4 class="heading">Others</h4>
                      <ul>
                        <li><a href="#">Beginner Guide</a></li>
                        <li><a href="#">Visa Guide</a></li>
                        <li><a href="#">Average living costs</a></li>
                        <li><a href="#">Part time work</a></li>
                        <li><a href="#">Post study work</a></li>
                        <li><a href="#">Popular job sectors</a></li>
                
                      </ul>
                      </div>
        </div>
        </div>
    <br><br>
        <div class="container container1">
            <div class="row">
              <div class="col-md-3">
                <h4 class="heading">Programs</h4>
                <ul>
                  <li><a href="#">Engineering</a></li>
                  <li><a href="#">Business & Management</a></li>
                  <li><a href="#">Computer Science & IT</a></li>
                  <li><a href="#">Creative Arts & Design</a></li>
                  <li><a href="#">Health & Medicine</a></li>
                  <li><a href="#">Scholarship advice</a></li>
          
                </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="heading">Country</h4>
                    <ul>
                      <li><a href="#">Higher Education in USA</a></li>
                      <li><a href="#">Higher Education in Germany</a></li>
                      <li><a href="#">Higher Education in UK</a></li>
                      <li><a href="#">Higher Education in Australia</a></li>
                      <li><a href="#">Explore all countries</a></li>
                     </ul>
                    </div>
                    <div class="col-md-3">
                        <h4 class="heading">Contact us</h4>
                        <ul>
                          <li><a href="#">Reknown Edu Services</a></li>
                          <li><a href="#">#543/16, 3rd floor,</a></li>
                          <li><a href="#">Q&A forum</a></li>
                          <li><a href="#">Rajkumar Road, Rajajinagar</a></li>
                          <li><a href="#">Bangalore-560010</a></li>
                          <li><a href="#">080-2337 1115</a></li>
                          <li><a href="#">info@reknown.com</a></li>
                  
                        </ul>
                        </div>
                        <div class="col-md-3">
                            <h4 class="heading">Follow us</h4>
                            
                              <span><a href="#"><img class="imgC1" src="../assets/template/facebook.svg"></a></span>&nbsp;
                              <span><a href="#"><img class="imgC1" src="../assets/template/twitter.svg"></a></span>&nbsp;
                                <span> <a href="#"><img class="imgC1" src="../assets/template/linkedin.svg"></a></span>
                              
                      
                                                     </div>
              </div>
            
  </div>
  <!-- footer carousel mobile view-->
  <div id="carouselfooter">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="bg-footer">
        <!--Content-->
        <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <h1 class="footerhead">What our students have to say about us?</h1>
                </div>
                <div class="col-md-2">
                  </div>
                  <div class="col-md-6">
                      <img src="/assets/template/images.jpg" class="imgfounder" alt="Avatar">
                      <p class="foundername">Ajay Nandkishore
                          <br><span style="font-size: 12px;font-weight: 200;">B.Tech,Stanford University</span>
                        </p>                  
                    </div>
          </div>
          <div class="row">
              <div class="col-md-4" style="padding-top: 29px;">
                  <div class="rec"></div>
                  <div class="rec recmiddle"></div>
                  <div class="rec"></div>
                  <div class="rec"></div>
                </div>
                <div class="col-md-2">
                  </div>
                <div class="col-md-6">
                    <p class="quotes">"Lorem ipsum dolor sit amet, ingelit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna."</p>
                  </div>
          </div>
    </div>
        </div>
      </div>
      <div class="carousel-item">
      <div class="bg-footer">
        <!--Content-->
        <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <h1 class="footerhead">What our students have to say about us?</h1>
                </div>
                <div class="col-md-2">
                  </div>
                  <div class="col-md-6">
                      <img src="/assets/template/images.jpg" class="imgfounder" alt="Avatar">
                      <p class="foundername">Ajay Nandkishore
                          <br><span style="font-size: 12px;font-weight: 200;">B.Tech,Stanford University</span>
                        </p>                  
                    </div>
          </div>
          <div class="row">
              <div class="col-md-4" style="padding-top: 29px;">
                  <div class="rec"></div>
                  <div class="rec recmiddle"></div>
                  <div class="rec"></div>
                  <div class="rec"></div>
                </div>
                <div class="col-md-2">
                  </div>
                <div class="col-md-6">
                    <p class="quotes">"Lorem ipsum dolor sit amet, ingelit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna."</p>
                  </div>
          </div>
    </div>
        </div>
      </div>
      <div class="carousel-item">
      <div class="bg-footer">
        <!--Content-->
        <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <h1 class="footerhead">What our students have to say about us?</h1>
                </div>
                <div class="col-md-2">
                  </div>
                  <div class="col-md-6">
                      <img src="/assets/template/images.jpg" class="imgfounder" alt="Avatar">
                      <p class="foundername">Ajay Nandkishore
                          <br><span style="font-size: 12px;font-weight: 200;">B.Tech,Stanford University</span>
                        </p>                  
                    </div>
          </div>
          <div class="row">
              <div class="col-md-4" style="padding-top: 29px;">
                  <div class="rec"></div>
                  <div class="rec recmiddle"></div>
                  <div class="rec"></div>
                  <div class="rec"></div>
                </div>
                <div class="col-md-2">
                  </div>
                <div class="col-md-6">
                    <p class="quotes">"Lorem ipsum dolor sit amet, ingelit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna."</p>
                  </div>
          </div>
    </div>
        </div>
      </div>
    </div>
    
  </div>
  </div>
    <!-- mobile view footer-->
    <div id="demos">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="more-less fa fa-plus"></i>
                <span class="footermblhead">Discover</span>
              </a>
            </h4>
          </div>
          <hr class="stylehr">
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <!-- content -->
              <ul>
                  <li><a href="#">Subject guides</a></li>
                  <li><a href="#">University search</a></li>
                  <li><a href="#">Scholarship advice</a></li>
                  <li><a href="#">Course matching tool</a></li>
                  <li><a href="#">Check your probablity</a></li>
                  <li><a href="#">Study destination guides</a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="more-less fa fa-plus"></i>
                  <span class="footermblhead">Programs</span>
                </a>
              </h4>
            </div>
            <hr class="stylehr">
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                            <!-- content -->
                            <ul>
                                <li><a href="#">Engineering</a></li>
                                <li><a href="#">Business & Management</a></li>
                                <li><a href="#">Computer Science & IT</a></li>
                                <li><a href="#">Creative Arts & Design</a></li>
                                <li><a href="#">Health & Medicine</a></li>
                                <li><a href="#">Scholarship advice</a></li>
                        
                              </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="more-less fa fa-plus"></i>
                    <span class="footermblhead">University</span>
                  </a>
                </h4>
              </div>
              <hr class="stylehr">
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <!--content-->
                  <ul>
                      <li><a href="#">MBA Colleges</a></li>
                      <li><a href="#">MS Colleges</a></li>
                      <li><a href="#">BE / B.Tech Colleges</a></li>
                      <li><a href="#">BBA Colleges</a></li>
                      <li><a href="#">Master in Hospitality</a></li>
                      <li><a href="#">Master in Journalism</a></li>
              
                    </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      <i class="more-less fa fa-plus"></i>
                      <span class="footermblhead">Country</span>
                    </a>
                  </h4>
                </div>
                <hr class="stylehr">
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                  <div class="panel-body">
                    <!--content-->
                    <ul>
                        <li><a href="#">Higher Education in USA</a></li>
                        <li><a href="#">Higher Education in Germany</a></li>
                        <li><a href="#">Higher Education in UK</a></li>
                        <li><a href="#">Higher Education in Australia</a></li>
                        <li><a href="#">Explore all countries</a></li>
                       </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <i class="more-less fa fa-plus"></i>
                        <span class="footermblhead">Community</span>
                      </a>
                    </h4>
                  </div>
                  <hr class="stylehr">
                  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                      <!--content-->
                      <ul>
                          <li><a href="#">Prepare of Tests</a></li>
                          <li><a href="#">Prepare to apply</a></li>
                          <li><a href="#">Q&A forum</a></li>
                          <li><a href="#">Blog</a></li>
                          <li><a href="#">Video</a></li>
                          <li><a href="#">How to apply for Visa?</a></li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          <i class="more-less fa fa-plus"></i>
                          <span class="footermblhead">Others</span>
                        </a>
                      </h4>
                    </div>
                    <hr class="stylehr">
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                      <div class="panel-body">
                        <!--content-->
                        <ul>
                            <li><a href="#">Beginner Guide</a></li>
                            <li><a href="#">Visa Guide</a></li>
                            <li><a href="#">Average living costs</a></li>
                            <li><a href="#">Part time work</a></li>
                            <li><a href="#">Post study work</a></li>
                            <li><a href="#">Popular job sectors</a></li>
                    
                          </ul>
                      </div>
                    </div>
                  </div>
                <!--content-->
                <div class="container">
                <div class="row">
                  <div class="col-md">
                      <span class="footermblhead">Contact us</span>
                      <div class="panel-body addressalign">

                      <ul style="padding-left: 31px;">
                        <li><a href="#">Reknown Edu Services</a></li>
                        <li><a href="#">#543/16, 3rd floor,</a></li>
                        <li><a href="#">Q&A forum</a></li>
                        <li><a href="#">Rajkumar Road, Rajajinagar</a></li>
                        <li><a href="#">Bangalore-560010</a></li>
                        <li><a href="#">080-2337 1115</a></li>
                        <li><a href="#">info@reknown.com</a></li>
                
                      </ul>
                      </div>
                  </div>
                  <div class="col-md">
                      <span class="footermblhead">Follow us</span>
                      <br>
                      <div class="panel-body addressalign" style="padding-left: 31px;">
                      <span><a href="#"><img class="imgC1" src="../assets/template/facebook.svg"></a></span>&nbsp;
                     <span><a href="#"><img class="imgC1" src="../assets/template/twitter.svg"></a></span>&nbsp;
                     <span> <a href="#"><img class="imgC1" src="../assets/template/linkedin.svg"></a></span>
                     </div>
                    </div>
                  </div>
                </div>
                <div class="footerbackgrnd">
                    <div class="textalignfooter">
                      <span class="spantext">Designed & Developed by DeveloperOnRent</span><br>&nbsp;
                      <span class="spantext1">Copyright &copy; 2018 Reknown Edu Services &trade; All rights reserved.</span>&nbsp;
                      <div class="footerfinal">
                        <span><a href="#" class="termscndtn">Privacy Policy</a></span>&nbsp;<i class="fa fa-circle" style="font-size: 7px;"></i>&nbsp;
                        <span><a href="#" class="termscndtn">Terms and Conditions</a></span>&nbsp;<i class="fa fa-circle" style="font-size: 7px;"></i>&nbsp;
                        <span><a href="#" class="termscndtn">About Us</a></span>
                      </div>
                    </div>
                  </div>
              
      </div>
    </div>
  </div>
  
  