<div class="container img-block">
  <img class="imgA1" src="/assets/template/testimonial-background.svg" style="margin-left: -150px;margin-right: -48px;">
  <img class="imgB1" src="/assets/template/footer.svg" style="margin-left: -150px;margin-right: -48px;">
  
  <div class="container container2">
    <div class="row">
          <div class="col-md-4">
              <h1 style="font-weight: 700;font-size: 30px; text-align:left;margin-top:125px;">What our students have to say about us?</h1>
              <br>
                <div class="rec"></div>
                <div class="rec" style="width: 60px;background-color: #774fe5;"></div>
                <div class="rec"></div>
                <div class="rec"></div>
            </div>
            <div class="col-md-6">
                <img src="/assets/template/images.jpg" class="imgfounder" alt="Avatar" style="width:100px;height:100px;padding-left: 0px;padding-right: 0px;margin-right: 0px;margin-left: 38%;">
                <div style="font-size:15px;font-weight: 750;float:right;padding-top: 133px;padding-left: -39px;padding-right: -55px;padding-bottom: 19px;">Ajay Nandkishore
                  <br>B.Tech,Stanford University
                </div>
                <p class="quotes" style="padding-right: 0px;padding-left: 198px;padding-top: 10px;">"Lorem ipsum dolor sit amet, ingelit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna."</p>
              </div>
</div>
</div>
  <div class="container container1">
    <div class="row">
      <div class="col-md-3">
        <h4 class="heading">Discover</h4>
        <ul>
          <li><a href="#">Course matching tool</a></li>
          <li><a href="#">Check your probablity</a></li>
          <li><a href="#">University search</a></li>
          <li><a href="#">Subject guides</a></li>
          <li><a href="#">Scholarship advice</a></li>
          <li><a href="#">Study destination guides</a></li>
        </ul>
        </div>
        <div class="col-md-3">
            <h4 class="heading">University</h4>
            <ul>
              <li><a href="#">MBA Colleges</a></li>
              <li><a href="#">MS Colleges</a></li>
              <li><a href="#">BE / B.Tech Colleges</a></li>
              <li><a href="#">BBA Colleges</a></li>
              <li><a href="#">Master in Hospitality</a></li>
              <li><a href="#">Master in Journalism</a></li>
      
            </ul>
            </div>
            <div class="col-md-3">
                <h4 class="heading">Community</h4>
                <ul>
                  <li><a href="#">Prepare of Tests</a></li>
                  <li><a href="#">Prepare to apply</a></li>
                  <li><a href="#">Q&A forum</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Video</a></li>
                  <li><a href="#">How to apply for Visa?</a></li>
          
                </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="heading">Others</h4>
                    <ul>
                      <li><a href="#">Beginner Guide</a></li>
                      <li><a href="#">Visa Guide</a></li>
                      <li><a href="#">Average living costs</a></li>
                      <li><a href="#">Part time work</a></li>
                      <li><a href="#">Post study work</a></li>
                      <li><a href="#">Popular job sectors</a></li>
              
                    </ul>
                    </div>
      </div>
      </div>
  
      <div class="container container1">
          <div class="row">
            <div class="col-md-3">
              <h4 class="heading">Programs</h4>
              <ul>
                <li><a href="#">Engineering</a></li>
                <li><a href="#">Business & Management</a></li>
                <li><a href="#">Computer Science & IT</a></li>
                <li><a href="#">Creative Arts & Design</a></li>
                <li><a href="#">Health & Medicine</a></li>
                <li><a href="#">Scholarship advice</a></li>
        
              </ul>
              </div>
              <div class="col-md-3">
                  <h4 class="heading">Country</h4>
                  <ul>
                    <li><a href="#">Higher Education in USA</a></li>
                    <li><a href="#">Higher Education in Germany</a></li>
                    <li><a href="#">Higher Education in UK</a></li>
                    <li><a href="#">Higher Education in Australia</a></li>
                    <li><a href="#">Explore all countries</a></li>
                   </ul>
                  </div>
                  <div class="col-md-3">
                      <h4 class="heading">Contact us</h4>
                      <ul>
                        <li><a href="#">Reknown Edu Services</a></li>
                        <li><a href="#">#543/16, 3rd floor,</a></li>
                        <li><a href="#">Q&A forum</a></li>
                        <li><a href="#">Rajkumar Road, Rajajinagar</a></li>
                        <li><a href="#">Bangalore-560010</a></li>
                        <li><a href="#">080-2337 1115</a></li>
                        <li><a href="#">info@reknown.com</a></li>
                
                      </ul>
                      </div>
                      <div class="col-md-3">
                          <h4 class="heading">Follow us</h4>
                          <ul>
                            <li><a href="#">Beginner Guide</a></li>
                            <li><a href="#">Visa Guide</a></li>
                            
                    
                          </ul>
                          </div>
            </div>
  </div>