<div id="bgfooterpage">
  <div class="container fluid" style="padding-top: 50px;padding-bottom: 45px;">
<div class="row">
<div class="col-md-3">
  <!--footer content-->
  <h4 class="heading">Discover</h4>
  <ul style="padding-left:0px;padding-top:3px;"> 
    <li>
      <a  class="footertxt" href="#">Course matching tool</a>
    </li>
    <li class="textspace">
      <a class="footertxt" href="#">Check your probablity</a>
    </li>
    <li class="textspace">
      <a class="footertxt" href="#">University search</a>
    </li>
    <li class="textspace">
      <a class="footertxt" href="#">Subject guides</a>
    </li>
    <li class="textspace">
      <a class="footertxt" href="#">Scholarship advice</a>
    </li>
    <li class="textspace">
      <a class="footertxt" href="#">Study destination guides</a>
    </li>
  </ul>
</div>
<!--col2-->
<div class="col-md-3">
    <!--footer content-->
    <h4 class="heading">University</h4>
    <ul style="padding-left:0px;padding-top:3px;"> 
      <li>
        <a  class="footertxt" href="#">MBA Colleges</a>
      </li>
      <li class="textspace">
        <a class="footertxt" href="#">MS Colleges</a>
      </li>
      <li class="textspace">
        <a class="footertxt" href="#">BE/B.Tech Colleges</a>
      </li>
      <li class="textspace">
        <a class="footertxt" href="#">BBA Colleges</a>
      </li>
      <li class="textspace">
        <a class="footertxt" href="#">Master in Hospitality</a>
      </li>
      <li class="textspace">
        <a class="footertxt" href="#">Master in Journalism</a>
      </li>
    </ul>
  </div>
  <!--col3-->
<div class="col-md-3">
    <!--footer content-->
    <h4 class="heading">Community</h4>
    <ul style="padding-left:0px;padding-top:3px;"> 
      <li>
        <a  class="footertxt" href="#">Prepare for tests</a>
      </li>
      <li class="textspace">
        <a class="footertxt" href="#">Prepare to apply</a>
      </li>
      <li class="textspace">
        <a class="footertxt" href="#">Q&A forum</a>
      </li>
      <li class="textspace">
        <a class="footertxt" href="#">Blog</a>
      </li>
      <li class="textspace">
        <a class="footertxt" href="#">Video</a>
      </li>
      <li class="textspace">
        <a class="footertxt" href="#">How to apply for Visa?</a>
      </li>
    </ul>
  </div>
  <!--col4-->
<div class="col-md-3">
    <!--footer content-->
    <h4 class="heading">Others</h4>
    <ul style="padding-left:0px;padding-top:3px;"> 
      <li>
        <a  class="footertxt" href="#">Beginner Guide</a>
      </li>
      <li class="textspace">
        <a class="footertxt" href="#">Visa Guide</a>
      </li>
      <li class="textspace">
        <a class="footertxt" href="#">Average living costs</a>
      </li>
      <li class="textspace">
        <a class="footertxt" href="#">Part time work</a>
      </li>
      <li class="textspace">
        <a class="footertxt" href="#">Post study work</a>
      </li>
      <li class="textspace">
        <a class="footertxt" href="#">Popular job sectors</a>
      </li>
    </ul>
  </div>
</div>
<!--section 2-->
<div class="row" style="padding-top: 15px;">
      <!--col5-->
    <div class="col-md-3">
      <!--footer content-->
      <h4 class="heading">Programs</h4>
      <ul style="padding-left:0px;padding-top:3px;"> 
        <li>
          <a  class="footertxt" href="#">Engineering</a>
        </li>
        <li class="textspace">
          <a class="footertxt" href="#">Business & Management</a>
        </li>
        <li class="textspace">
          <a class="footertxt" href="#">Computer Science & IT</a>
        </li>
        <li class="textspace">
          <a class="footertxt" href="#">Creative Arts & Design</a>
        </li>
        <li class="textspace">
          <a class="footertxt" href="#">Health & Medicine</a>
        </li>
        <!-- <li class="textspace">
          <a class="footertxt" href="#">Scholarship advice</a>
        </li> -->
      </ul>
    </div>
    <!--col6-->
    <div class="col-md-3">
        <!--footer content-->
        <h4 class="heading">Country</h4>
        <ul style="padding-left:0px;padding-top:3px;"> 
          <li>
            <a  class="footertxt" href="#">Higher Education in USA</a>
          </li>
          <li class="textspace">
            <a class="footertxt" href="#">Higher Education in Germany</a>
          </li>
          <li class="textspace">
            <a class="footertxt" href="#">Higher Education in UK</a>
          </li>
          <li class="textspace">
            <a class="footertxt" href="#">Higher Education in Australia</a>
          </li>
          <li class="textspace">
            <a class="footertxt" href="#">Explore all countries</a>
          </li>
          <!-- <li class="textspace">
            <a class="footertxt" href="#">Master in Journalism</a>
          </li> -->
        </ul>
      </div>
      <!--col3-->
    <div class="col-md-3">
        <!--footer content-->
        <h4 class="heading">Contact us</h4>
        <ul style="padding-left:0px;padding-top:3px;"> 
          <li>
            <a  class="footertxt" href="#">Reknown Edu Services</a>
          </li>
          <li class="textspace">
            <a class="footertxt" href="#">#543/16, 3rd floor,</a>
          </li>
          <li class="textspace">
            <a class="footertxt" href="#">Rajkumar Road, Rajajinagar</a>
          </li>
          <li class="textspace">
            <a class="footertxt" href="#">Bangalore-560010</a>
          </li>
          <li class="textspace">
            <a class="footertxt" href="#">080-2337 1115</a>
          </li>
          <li class="textspace">
            <a class="footertxt" href="#">info@reknown.com</a>
          </li>
        </ul>
      </div>
      <!--col4-->
    <div class="col-md-3">
        <!--footer content-->
        <h4 class="heading">Follow us</h4>
        <span>
            <a href="#">
              <img class="imgC1" src="../assets/template/facebook.svg">
            </a>
          </span>&nbsp;
          <span>
            <a href="#">
              <img class="imgC1" src="../assets/template/twitter.svg">
            </a>
          </span>&nbsp;
          <span>
            <a href="#">
              <img class="imgC1" src="../assets/template/linkedin.svg">
            </a>
          </span>
      </div>
    </div>
</div>
</div>
<div class="finalfooterbg">
  <div class="container fluid">
<div class="row">
 <div class="col-md-4">
    <span>
        <a href="#" class="termscndtn">Privacy Policy</a>
      </span>&nbsp;
      <i class="fa fa-circle" style="font-size: 7px;"></i>&nbsp;
      <span>
        <a href="#" class="termscndtn">Terms and Conditions</a>
      </span>&nbsp;
      <i class="fa fa-circle" style="font-size: 7px;"></i>&nbsp;
      <span>
        <a href="#" class="termscndtn">About Us</a>
      </span>
 </div>
</div>
</div>
</div>