<!-- Header Content -->
<header id="header">
	<!-- Top Bar -->
	<div class="top_bar">
		<div class="top_bar_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
							<ul class="top_bar_contact_list">
								<li>
									<div class="question">Have any questions?</div>
								</li>
								<li>
									<i class="fa fa-phone" aria-hidden="true"></i>
									<div>001-1234-88888</div>
								</li>
								<li>
									<i class="fa fa-envelope-o" aria-hidden="true"></i>
									<div>info.deercreative@gmail.com</div>
								</li>
							</ul>
							<div class="top_bar_login ml-auto">
								<div class="login_button" *ngIf="!authService.loggedIn()"><a routerLink="/register">Register or Login</a>
								</div>
							</div>
							<div class="top_bar_login ml-auto">
								<div class="login_button" *ngIf="authService.loggedIn()"><a routerLink="/profile">Profile</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container main-menu" style="padding: 3px 30px 0px 30px;">
		<button type="button" id="mobile-nav-toggle"></button>
		<div class="row align-items-center">
			<nav id="menu">
				<div id="logo" style="float: left;padding-top: 10px;" class="lg-logo">
					<div class="logo_text">Schooling
						<span>Council</span>
					</div>
				</div>
				<label for="tm" id="toggle-menu">
					<div id="logo">
						<div class="logo_text">Schooling
							<span>Council</span>
						</div>
					</div>
					<span class="drop-icon fa fa-bars"></span>
				</label>
				<input id="tm" type="checkbox">
				<ul class="main-menu cf" style="float: right">
					<li>
						<a routerLink="/">Home</a>
					</li>
					<li>
						<a href="javascript:;">Discover
							<span class="drop-icon">&nbsp;&nbsp;&rsaquo;</span>
							<label title="Toggle Drop-down" class="drop-icon" for="sm0">&nbsp;&nbsp;&rsaquo;</label>
						</a>
						<input id="sm0" type="checkbox">
						<ul class="sub-menu">
							<li>
								<a href="blog-home.html">Comparison Tool</a>
							</li>
							<li>
								<a href="blog-single.html">Probability Tool</a>
							</li>
							<li>
								<a href="#">Shortlisting Tool</a>
							</li>
							<li>
								<a href="#">Mock Test</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Information
							<span class="drop-icon">&nbsp;&nbsp;&rsaquo;</span>
							<label title="Toggle Drop-down" class="drop-icon" for="sm1">&nbsp;&nbsp;&rsaquo;</label>
						</a>
						<input id="sm1" type="checkbox">
						<ul class="sub-menu">
							<li>
								<a href="#">Countries
									<span class="drop-icon">&nbsp;&nbsp;&rsaquo;</span>
									<label title="Toggle Drop-down" class="drop-icon" for="sm2">&nbsp;&nbsp;&rsaquo;</label>
								</a>
								<input id="sm2" type="checkbox">
								<ul class="sub-menu">
									<li>
										<a routerLink="/visacountrylist">Visa info</a>
									</li>
									<li>
										<a routerLink="/scholarshipcountrylist">Scholarship</a>
									</li>
									<li>
										<a routerLink="/averagesalarycountrylist">Average salary</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="">Cities
									<span class="drop-icon">&nbsp;&nbsp;&rsaquo;</span>
									<label title="Toggle Drop-down" class="drop-icon" for="sm3">&nbsp;&nbsp;&rsaquo;</label>
								</a>
								<input id="sm3" type="checkbox">
								<ul class="sub-menu">
									<li>
										<a routerLink="/companies">Companies</a>
									</li>
									<li>
										<a routerLink="/costofliving">Cost of living</a>
									</li>
									<li>
										<a href="#">Weather report</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="">Others
									<span class="drop-icon">&nbsp;&nbsp;&rsaquo;</span>
									<label title="Toggle Drop-down" class="drop-icon" for="sm4">&nbsp;&nbsp;&rsaquo;</label>
								</a>
								<input id="sm4" type="checkbox">
								<ul class="sub-menu">
									<li>
										<a href="#">Updated info</a>
									</li>
									<li>
										<a href="#">Profiles of students</a>
									</li>
									<li>
										<a href="#">Step by step process</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:;">Community
							<span class="drop-icon">&nbsp;&nbsp;&rsaquo;</span>
							<label title="Toggle Drop-down" class="drop-icon" for="sm5">&nbsp;&nbsp;&rsaquo;</label>
						</a>
						<input id="sm5" type="checkbox">
						<ul class="sub-menu">
							<li>
								<a routerLink="/blog">Blog</a>
							</li>
							<li>
								<a routerLink="/events">Events</a>
							</li>
							<li>
								<a routerLink="/news">Latest News</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:;">AboutUs
							<span class="drop-icon">&nbsp;&nbsp;&rsaquo;</span>
							<label title="Toggle Drop-down" class="drop-icon" for="sm6">&nbsp;&nbsp;&rsaquo;</label>
						</a>
						<input id="sm6" type="checkbox">
						<ul class="sub-menu">
							<li>
								<a routerLink="/whoweare">Who we are?</a>
							</li>
							<li>
								<a routerLink="/howitworks">How it works?</a>
							</li>
							<li>
								<a routerLink="/contactus">ContactUs</a>
							</li>

						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>

</header>
<!-- #header -->