<div class="page-wrapper bg-img-1 p-t-200 p-b-120">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="wrapper wrapper--w900">
                    <br>
                    <br>
                    <br>
                    <h3>Find Your
                        <br>Dream University here</h3>
                    <div class="simple card-4">
                        <div class="card-body">
                            <ul class="tab-list">
                                <li class="tab-list__item active">
                                    <a class="tab-list__link" href="#tab1" data-toggle="tab" style="padding-left: 0px;">Program</a>
                                </li>
                                <li class="tab-list__item">
                                    <a class="tab-list__link" href="#tab2" data-toggle="tab" >University</a>
                                </li>
                                <li class="tab-list__item">
                                    <a class="tab-list__link" href="#tab3" data-toggle="tab" >Country</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane ta active" id="tab1" style="padding-right: 70px;padding-left: 0px;">
                                    <form method="POST" action="#">
                                        <div class="input-group input-group-big" style="padding-left:0px;">
                                            <input class="input--style-1" type="text" name="address" placeholder="Enter your program here" required="required">
                                            <i class="fa fa-search"></i>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="tab2" style="width: 410px;padding-right: 70px;padding-left: 0px;">
                                    <form method="POST" action="#">
                                        <div class="input-group input-group-big">

                                            <input class="input--style-1" type="text" name="address" placeholder="Enter your university here" required="required">
                                            <i class="fa fa-search"></i>                                        
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="tab3" style="width: 410px;padding-right: 70px;padding-left: 0px;">
                                    <form method="POST" action="#">
                                        <div class="input-group input-group-big">

                                            <input class="input--style-1" type="text" name="address" placeholder="Enter your country here" required="required">
                                            <i class="fa fa-search"></i>                                       
                                         </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner" >
                    <img src="/assets/template/banner.svg" alt="" style=" margin-left: -94px;">
                </div>
            </div>
        </div>
    </div>
</div>
<!--- Choose right program-->
<div class="container" style="padding-top:88px;">
    <div class="row">
        <div class="text-left col-md-6">
            <img src="/assets/template/section-1.svg" class="mr-2" alt="Right program">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md">
            <h2 class="mr-2 font-weight-bold">Choose a right program to build your career</h2>
            <p class="content">Know about the program you have chosen is it a right fit for you, would you have better odds to succeed or flourish
                in that program.</p>
                <div class="btncenter">
                    <button class="btn btn-outline-success" type="submit">Get Started</button>
                    </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<!--Choose a country with better edu-->
<div class="container">
    <div class="row">
        <div class="text-left col-md">
            <h2 class="font-weight-bold">Choose a country with better education</h2>
            <p class="content">Choose better education over more popularity & other cliched reasons, Compare from curated options and make better
                decisions.
            </p>
            <div class="btncenter">
            <button class="btn btn-outline-success" type="submit">Get Started</button>
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="text-center col-md">
            <img src="/assets/template/section-2.svg" class="mr-2" width="85%" alt="Right program">
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<!--Get Complete support-->
<div class="container">
    <div class="row">
        <div class="text-left col-md-6">
            <img src="/assets/template/section-3.svg" class="mr-2" alt="Right program">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md">
            <h2 class="mr-2 font-weight-bold">Get complete support on how to apply</h2>
            <p class="content">Learn about the application process,following up with the universities and draft incredible supporting documents.</p>
            <div class="btncenter">
            <button class="btn btn-outline-success" type="submit">Get Started</button>
            </div>
        </div>
    </div>
</div>
<!--why choose schoolingcouncil-->
<div class="page-wrapper bg-img-2 p-t-200 p1-b1-120" style="padding-bottom: -1px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="heading1" style="padding-left: 50px;">
                    <p>Why choose Schooling Council?</p>
                </div>
                <div class="content1">
                    <p>Empowering thousands of students in making the right career and college decision.</p>
                </div>
            </div>
            <div class="col-md-4" style="padding-top: 54px;padding-left: 0px;padding-right: 0px;">
                <div class="section3">
                    <img src="/assets/template/profile-building.svg" alt="" style="height: 60px;">
                    <b>Profile</b> building
                    <hr style="margin-right: 0px;margin-left: 15px;">
                </div>
                <div class="section4">
                    <img src="/assets/template/quality-training.svg" alt="" style="height: 60px;">
                    <b>Quality</b> training
                    <hr style="margin-right: 0px;margin-left: 15px;">
                </div>
                <div class="section4">
                    <img src="/assets/template/loan-assistance.svg" alt="" style="height: 60px;">
                    <b>Loan</b> assistance
                    <hr style="margin-right: 0px;margin-left: 15px;"> 
                </div>
                <div class="section4">
                    <img src="/assets/template/mentor-assistance.svg" alt="" style="height: 60px;">
                    <b>Mentor</b> assistance
                </div>
            </div>
        </div>
    </div>
</div>
<!--Video-->
<div class="container" style="padding-top: 45px;padding-bottom: 45px;">
    <div class="embed-responsive embed-responsive-4by3" style="padding-left: 0px;margin-left: 1px;padding-right: 100px;">
        <video style="width: 1200px;" controls>
            <source src="movie.mp4" type="video/mp4">
        </video>
    </div>
</div>
<!--counter-->
<div class="counterelement">
    <div class="container">
        <div class="row">
            <br/>
            <div class="col text-center">
                <h1 class="counterheading">We have information about</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="counter">
                    <h2 class="timer count-title count-number colr" data-to="4000" data-speed="5000"></h2>
                    <p class="count-text ">Universities</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <h2 class="timer count-title count-number colr" data-to="1700" data-speed="5000"></h2>
                    <p class="count-text ">Countries</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <h2 class="timer count-title count-number colr" data-to="11900" data-speed="5000"></h2>
                    <p class="count-text ">Programs</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <h2 class="timer count-title count-number colr" data-to="157" data-speed="5000"></h2>
                    <p class="count-text ">Students</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<!--Featured Articles-->

<div class="container" style="padding-left: 50px;padding-right: 50px;">
    <div class="row">
        <div class="col-md-6">
            <h1 class="heading2">Featured Articles</h1>
        </div>
        <div class="col-md-6">
            <div class="btn-outline-success-viewall">
            <button class="btn btn-outline-success" type="submit" style="border-color:#9e9b90;">View all</button>
        </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row blog">
        <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                    <li data-target="#blogCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                    
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Which exam to give for which course to study abroad?</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                        
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Difference between MBA & MSc in management</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Most affordable B.Tech colleges in Germany</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Which exam to give for which course to study abroad?</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Difference between MBA & MSc in management</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Most affordable B.Tech colleges in Germany</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Which exam to give for which course to study abroad?</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Difference between MBA & MSc in management</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Most affordable B.Tech colleges in Germany</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>

                                </a>
                            </div>

                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                </div>
                <!--.carousel-inner-->
            </div>
            <!--.Carousel-->

        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<!-- founder content
<div style="background: url('/assets/template/testimonial-background.svg') no-repeat;z-index: 3;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1 style="font-weight: 700;font-size: 30px; text-align:left;margin-top:125px;">What our students have to say about us?</h1>
                <br>
                <div class="rec"></div>
                <div class="rec" style="width: 60px;background-color: #774fe5;"></div>
                <div class="rec"></div>
                <div class="rec"></div>
            </div>
            <div class="col-md-6">
                <img src="/assets/template/images.jpg" class="imgfounder" alt="Avatar" style="width:100px;height:100px;">
                <p style="font-size:15px;font-weight: 750;margin-top:125px;float:right;">Ajay Nandkishore</p>
                <p style="font-size:13px;margin-top:-45px;margin-right:-15px;float:right;">B.Tech,Stanford University</p>
                <br>
                <br>
                <p class="quotes">"Lorem ipsum dolor sit amet, ingelit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna."</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <app-footer></app-footer>
</div>-->
<app-footer></app-footer> 