<div class="page-wrapper">
<div class="bg-img-1 p-t-200 p-b-120">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="wrapper wrapper--w900">
                    <br>
                    <br>
                    <br>
                    <h3>Find Your
                        <br>Dream University here</h3>
                        <div id="titlenav">
                        <h3>Find Your Dream University here</h3></div>
                    <div class="simple card-4">
                        <div class="card-body">
                           <!--Search-->
                           <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                  <a class="nav-link active" href="#program" role="tab" data-toggle="tab">Program</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#university" role="tab" data-toggle="tab">University</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#country" role="tab" data-toggle="tab">Country</a>
                                </li>
                              </ul>
                              <!-- Tab panes -->
                              <div class="tab-content">
                                <div role="tabpanel" class="tab-pane in active" id="program">
                                        <form method="POST" action="#" class="searchform">
                                                <div class="input-group input-group-big" style="padding-left:0px;">
                                                    <input class="input--style-1" type="text" name="address" placeholder="Enter your program here" required="required">
        
                                                    <button class="btn btn-success" type="submit" (click)="onMovetoProgram()">
                                                        Search
                                                    </button>
                                                </div>
                                            </form>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="university">
                                        <form method="POST" action="#" class="searchform">
                                                <div class="input-group input-group-big" style="padding-left:0px;">
                                                    <input class="input--style-1" type="text" name="address" placeholder="Enter your university here" required="required">
        
                                                    <button class="btn btn-success" type="submit">
                                                        Search
                                                    </button>
                                                </div>
                                            </form>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="country">
                                        <form method="POST" action="#" class="searchform">
                                                <div class="input-group input-group-big" style="padding-left:0px;">
                                                    <input class="input--style-1" type="text" name="address" placeholder="Enter your country here" required="required"> 
                                                    <button class="btn btn-success" type="submit">
                                                        Search
                                                    </button>
                                                </div>
                                            </form>
                                </div>
                              </div>
                              
                           <!--End search-->


                            <!-- <ul class="tab-list">
                                <li class="tab-list__item active">
                                    <a class="tab-list__link" href="#tab1" data-toggle="tab" style="padding-left: 0px;">Program</a>
                                </li>
                                <li class="tab-list__item">
                                    <a class="tab-list__link" href="#tab2" data-toggle="tab">University</a>
                                </li>
                                <li class="tab-list__item">
                                    <a class="tab-list__link" href="#tab3" data-toggle="tab">Country</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane ta active" id="tab1" style="padding-right: 70px;padding-left: 0px;">
                                    <form method="POST" action="#">
                                        <div class="input-group input-group-big" style="padding-left:0px;">
                                            <input class="input--style-1" type="text" name="address" placeholder="Enter your program here" required="required" style="padding-left: 20px;">

                                            <button class="btn btn-success" type="submit">
                                                Search
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="tab2" style="padding-right: 70px;padding-left: 0px;">
                                    <form method="POST" action="#">
                                        <div class="input-group input-group-big">
                                            <input class="input--style-1" type="text" name="address" placeholder="Enter your university here" required="required" style="padding-left: 0px;">
                                            <button class="btn btn-success" type="submit" style="margin-left: 247px;">
                                                Search
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="tab3" style="padding-right: 70px;padding-left: 0px;">
                                    <form method="POST" action="#">
                                        <div class="input-group input-group-big">
                                            <input class="input--style-1" type="text" name="address" placeholder="Enter your country here" required="required" style="padding-left: 0px;">
                                            <button class="btn btn-success" type="submit" style="margin-left: 247px;">
                                                Search
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner">
                    <img src="/assets/template/banner.svg" alt="" style=" margin-left: -94px;">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--- Choose right program-->
<div class="container">
    <div class="section1container">
    <div class="row">
        <div class="text-left col-md-6">
            <img src="/assets/template/section-1.svg" class="mr-2" alt="Right program">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md sec">
            <h2 class="mr-2 font-weight-bold">Choose a right program to build your career</h2>
            <p class="content">Know about the program you have chosen is it a right fit for you, would you have better odds to succeed or flourish
                in that program.</p>
            <div class="btncenter">
                <button class="btn btn-outline-success" type="submit">Get Started</button>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<br>
<!--Choose a country with better edu-->
<div id="section2dsk">
<div class="container">
    <div class="row">
        <div class="text-left col-md sec">
            <h2 class="font-weight-bold">Choose a country with better education</h2>
            <p class="content">Choose better education over more popularity & other cliched reasons, Compare from curated options and make better
                decisions.
            </p>
            <div class="btncenter">
                <button class="btn btn-outline-success" type="submit">Get Started</button>
            </div>
            
        </div>
        <div class="col-md-1">
        </div>
        <div class="text-center col-md">
            <img src="/assets/template/section-2.svg" class="mr-2" width="85%" alt="Right program">
        </div>
    </div>
</div>
</div>
<!--mobile view section2-->
<div id="section2mbl">
<div class="container">
        <div class="row">
                <div class="text-left col-md-6">
                        <img src="/assets/template/section-2.svg" class="mr-2" alt="Right program">
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md sec">
                        <h2 class="mr-2 font-weight-bold">Choose a country with better education</h2>
                        <p class="content">Choose better education over more popularity & other cliched reasons, Compare from curated options and make better
                                decisions.</p>
                        <div class="btncenter">
                            <button class="btn btn-outline-success" type="submit">Get Started</button>
                        </div>
                    </div>
        </div>
    </div>
</div>
<br>
<br>
<!--Get Complete support-->
<div class="container cls1">
    <div class="row">
        <div class="text-left col-md-6">
            <img src="/assets/template/section-3.svg" class="mr-2" alt="Right program">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md sec">
            <h2 class="mr-2 font-weight-bold">Get complete support on how to apply</h2>
            <p class="content">Learn about the application process,following up with the universities and draft incredible supporting documents.</p>
            <div class="btncenter">
                <button class="btn btn-outline-success" type="submit">Get Started</button>
            </div>
        </div>
    </div>
</div>
<!--why choose schoolingcouncil-->
<div id="schoolingcouncildsk">
<div class="bg-img-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 sec1">
                <div class="heading1" style="padding-left: 50px;">
                    <p>Why choose
                        <br> Schooling Council?</p>
                </div>
                <div class="content1">
                    <p>Empowering thousands of students in making the right career and college decision.</p>
                </div>
            </div>
            <div class="col-md-6" style="padding-top: 54px;padding-left: 138px;padding-right: 0px;">
                <div class="section3">
                    <img src="/assets/template/profile-building.svg" alt="" style="height: 60px;">
                    <b>Profile</b> building
                    <hr style="margin-right: 0px;margin-left: 15px;">
                </div>
                <div class="section4">
                    <img src="/assets/template/quality-training.svg" alt="" style="height: 60px;">
                    <b>Quality</b> training
                    <hr style="margin-right: 0px;margin-left: 15px;">
                </div>
                <div class="section4">
                    <img src="/assets/template/loan-assistance.svg" alt="" style="height: 60px;">
                    <b>Loan</b> assistance
                    <hr style="margin-right: 0px;margin-left: 15px;">
                </div>
                <div class="section4">
                    <img src="/assets/template/mentor-assistance.svg" alt="" style="height: 60px;">
                    <b>Mentor</b> assistance
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--mobile view why choose schoolingcouncil -->
<div id="schoolingcouncilmbl">
        <div class="bg-img-2-mbl">
                <div class="container">
                        <div class="row">
                            <div class="col-md-6 sec1">
                                <div class="heading1">
                                    <p>Why choose Schooling Council?</p>
                                </div>
                                <div class="content1">
                                    <p>Empowering thousands of students in making the right career and college decision.</p>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left: 0px;padding-right: 0px;text-align: center;">
                                <div class="section3">
                                    <img src="/assets/template/profile-building.svg" alt="" style="height: 40px;">
                                    <b>Profile</b> building
                                    <hr align="center" width="45%" style="margin-top:5px !important;margin-bottom: 5px !important;position:relative;left: 17px;">
                                </div>
                                <div class="section3">
                                    <img src="/assets/template/quality-training.svg" alt="" style="height: 40px;">
                                    <b>Quality</b> training
                                    <hr align="center" width="45%" style="margin-top:5px !important;margin-bottom: 5px !important;position:relative;left: 17px;">
                                </div>
                                <div class="section3">
                                    <img src="/assets/template/loan-assistance.svg" alt="" style="height: 40px;">
                                    <b>Loan</b> assistance
                                    <hr align="center" width="45%" style="margin-top:5px !important;margin-bottom: 5px !important;position:relative;left: 17px;">
                                </div>
                                <div class="section3" style="padding-left: 18px;">
                                    <img src="/assets/template/mentor-assistance.svg" alt="" style="height: 40px;">
                                    <b>Mentor</b> assistance
                                </div>
                            </div>
                        </div>
                    </div>
</div>
</div>
<!--Video-->
<div class="container">
    <div class="videosection">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
</div>
<!-- <div class="container" style="padding-top: 45px;padding-bottom: 45px;">
    <div class="embed-responsive embed-responsive-4by3" style="padding-left: 0px;margin-left: 1px;padding-right: 100px;">
        <video style="width: 1200px;" controls>
            <source src="movie.mp4" type="video/mp4">
        </video>
    </div>
</div> -->
<!--counter-->
<div id="counterdsk">
<div class="counterelement">
    <div class="container">
        <div class="row">
            <br/>
            <div class="col text-center">
                <h1 class="counterheading">We have information about</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="counter">
                    <h2 class="timer count-title count-number colr" data-to="4000" data-speed="5000"></h2>
                    <p class="count-text ">Universities</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <h2 class="timer count-title count-number colr" data-to="1700" data-speed="5000"></h2>
                    <p class="count-text ">Countries</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <h2 class="timer count-title count-number colr" data-to="11900" data-speed="5000"></h2>
                    <p class="count-text ">Programs</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <h2 class="timer count-title count-number colr" data-to="157" data-speed="5000"></h2>
                    <p class="count-text ">Students</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- mobile view counter-->
<div id="countermbl">
        <div class="counterelement">
                <div class="container" style="padding-bottom:5px;padding-top: 5px;">
                        <div class="row">
                            <div class="col text-center">
                                <h1 class="counterheading">We have information about</h1>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col">
                                <div class="counter">
                                    <h2 class="timer count-title count-number colr" data-to="4000" data-speed="5000"></h2>
                                    <p class="count-text ">Universities</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="counter">
                                    <h2 class="timer count-title count-number colr" data-to="1700" data-speed="5000"></h2>
                                    <p class="count-text ">Countries</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="counter">
                                    <h2 class="timer count-title count-number colr" data-to="11900" data-speed="5000"></h2>
                                    <p class="count-text ">Programs</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="counter">
                                    <h2 class="timer count-title count-number colr" data-to="157" data-speed="5000"></h2>
                                    <p class="count-text ">Students</p>
                                </div>
                            </div>
                        </div>
                    </div>
                
</div>
</div>
<br>
<br>
<!--Featured Articles-->

<div class="container">
    <div class="croslalign">
    <div class="row blg">
        <div class="col-md-6">
            <h1 class="heading2">Featured Articles</h1>
        </div>
        <div class="col-md-6">
            <div class="btn-outline-success-viewall">
                <button class="btn btn-outline-success" type="submit" >View all</button>
            </div>
        </div>
    </div>
    <div id="carouseldsk">
    <div class="row blog">
        <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel" style="padding-bottom: 35px;">

                <ol class="carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                    <li data-target="#blogCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">

                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Which exam to give for which course to study abroad?</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Difference between MBA & MSc in management</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Most affordable B.Tech colleges in Germany</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Which exam to give for which course to study abroad?</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Difference between MBA & MSc in management</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Most affordable B.Tech colleges in Germany</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Which exam to give for which course to study abroad?</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Difference between MBA & MSc in management</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="card1">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                    <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Most affordable B.Tech colleges in Germany</p>
                                        </div>

                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:19px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>

                                </a>
                            </div>

                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                </div>
                <!--.carousel-inner-->
            </div>
            <!--.Carousel-->

        </div>
    </div>
</div>
<!--mobile view carousel-->
<div id="carouselmbl">
        <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
         <ol class="carousel-indicators">
                        <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExample" data-slide-to="1"></li>
                        <li data-target="#carouselExample" data-slide-to="2"></li>
                        <li data-target="#carouselExample" data-slide-to="3"></li>
                        <li data-target="#carouselExample" data-slide-to="4"></li>
                        <li data-target="#carouselExample" data-slide-to="5"></li>
                        <li data-target="#carouselExample" data-slide-to="6"></li>
                        <li data-target="#carouselExample" data-slide-to="7"></li>
                        <li data-target="#carouselExample" data-slide-to="8"></li>
                    </ol>
            <div class="carousel-inner row w-100 mx-auto">
                <div class="carousel-item active">
                    <div class="col-md-3">
                        <div class="card" style=" box-shadow: 5px 8px 8px 0 #ccc;">
                                <!--Card image-->
                                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title
                                    <h4 class="card-title">Card title</h4>-->
                                    <!--Text-->
                                    <p class="card-text">Which exam to give for which course to study abroad?</p>
                                </div>
                                <div class="card-footer">
                                    <hr class="style14">
                                    <small class="text-muted">
                                        <img src="/assets/template/chat.svg" alt="comments" style="width:13px;"> 22 comments | 540 views</small>
                                </div>
                            </div>
                            </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card" style=" box-shadow: 5px 8px 8px 0 #ccc;">
                                <!--Card image-->
                                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title
                                    <h4 class="card-title">Card title</h4>-->
                                    <!--Text-->
                                    <p class="card-text">Difference between MBA & MSc in management</p>
                                </div>
                                <div class="card-footer">
                                    <hr class="style14">
                                    <small class="text-muted">
                                        <img src="/assets/template/chat.svg" alt="comments" style="width:13px;"> 22 comments | 540 views</small>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card" style=" box-shadow: 5px 8px 8px 0 #ccc;">
                                    <!--Card image-->
                                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title
                                        <h4 class="card-title">Card title</h4>-->
                                        <!--Text-->
                                        <p class="card-text">Most affordable B.Tech colleges in Germany</p>
                                    </div>
                                    <div class="card-footer">
                                        <hr class="style14">
                                        <small class="text-muted">
                                            <img src="/assets/template/chat.svg" alt="comments" style="width:13px;"> 22 comments | 540 views</small>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card" style=" box-shadow: 5px 8px 8px 0 #ccc;">
                                        <!--Card image-->
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title
                                            <h4 class="card-title">Card title</h4>-->
                                            <!--Text-->
                                            <p class="card-text">Which exam to give for which course to study abroad?</p>
                                        </div>
                                        <div class="card-footer">
                                            <hr class="style14">
                                            <small class="text-muted">
                                                <img src="/assets/template/chat.svg" alt="comments" style="width:13px;"> 22 comments | 540 views</small>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="carousel-item">
                                <div class="col-md-3">
                                    <div class="card" style=" box-shadow: 5px 8px 8px 0 #ccc;">
                                            <!--Card image-->
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
                                            <!--Card content-->
                                            <div class="card-body">
                                                <!--Title
                                                <h4 class="card-title">Card title</h4>-->
                                                <!--Text-->
                                                <p class="card-text">Difference between MBA & MSc in management</p>
                                            </div>
                                            <div class="card-footer">
                                                <hr class="style14">
                                                <small class="text-muted">
                                                    <img src="/assets/template/chat.svg" alt="comments" style="width:13px;"> 22 comments | 540 views</small>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="carousel-item">
                                    <div class="col-md-3">
                                        <div class="card" style=" box-shadow: 5px 8px 8px 0 #ccc;">
                                                <!--Card image-->
                                                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
                                                <!--Card content-->
                                                <div class="card-body">
                                                    <!--Title
                                                    <h4 class="card-title">Card title</h4>-->
                                                    <!--Text-->
                                                    <p class="card-text">Most affordable B.Tech colleges in Germany</p>
                                                </div>
                                                <div class="card-footer">
                                                    <hr class="style14">
                                                    <small class="text-muted">
                                                        <img src="/assets/template/chat.svg" alt="comments" style="width:13px;"> 22 comments | 540 views</small>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="carousel-item">
                                        <div class="col-md-3">
                                            <div class="card" style=" box-shadow: 5px 8px 8px 0 #ccc;">
                                                    <!--Card image-->
                                                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
                                                    <!--Card content-->
                                                    <div class="card-body">
                                                        <!--Title
                                                        <h4 class="card-title">Card title</h4>-->
                                                        <!--Text-->
                                                        <p class="card-text">Which exam to give for which course to study abroad?</p>
                                                    </div>
                                                    <div class="card-footer">
                                                        <hr class="style14">
                                                        <small class="text-muted">
                                                            <img src="/assets/template/chat.svg" alt="comments" style="width:13px;"> 22 comments | 540 views</small>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="carousel-item">
                                            <div class="col-md-3">
                                                <div class="card" style=" box-shadow: 5px 8px 8px 0 #ccc;">
                                                        <!--Card image-->
                                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
                                                        <!--Card content-->
                                                        <div class="card-body">
                                                            <!--Title
                                                            <h4 class="card-title">Card title</h4>-->
                                                            <!--Text-->
                                                            <p class="card-text">Difference between MBA & MSc in management</p>
                                                        </div>
                                                        <div class="card-footer">
                                                            <hr class="style14">
                                                            <small class="text-muted">
                                                                <img src="/assets/template/chat.svg" alt="comments" style="width:13px;"> 22 comments | 540 views</small>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="carousel-item">
                                                <div class="col-md-3">
                                                    <div class="card" style=" box-shadow: 5px 8px 8px 0 #ccc;">
                                                            <!--Card image-->
                                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
                                                            <!--Card content-->
                                                            <div class="card-body">
                                                                <!--Title
                                                                <h4 class="card-title">Card title</h4>-->
                                                                <!--Text-->
                                                                <p class="card-text">Most affordable B.Tech colleges in Germany</p>
                                                            </div>
                                                            <div class="card-footer">
                                                                <hr class="style14">
                                                                <small class="text-muted">
                                                                    <img src="/assets/template/chat.svg" alt="comments" style="width:13px;"> 22 comments | 540 views</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                
            </div>
            
        </div>
        
</div>
</div>
</div>

<!-- founder content
<div style="background: url('/assets/template/testimonial-background.svg') no-repeat;z-index: 3;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1 style="font-weight: 700;font-size: 30px; text-align:left;margin-top:125px;">What our students have to say about us?</h1>
                <br>
                <div class="rec"></div>
                <div class="rec" style="width: 60px;background-color: #774fe5;"></div>
                <div class="rec"></div>
                <div class="rec"></div>
            </div>
            <div class="col-md-6">
                <img src="/assets/template/images.jpg" class="imgfounder" alt="Avatar" style="width:100px;height:100px;">
                <p style="font-size:15px;font-weight: 750;margin-top:125px;float:right;">Ajay Nandkishore</p>
                <p style="font-size:13px;margin-top:-45px;margin-right:-15px;float:right;">B.Tech,Stanford University</p>
                <br>
                <br>
                <p class="quotes">"Lorem ipsum dolor sit amet, ingelit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna."</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <app-footer></app-footer>
</div>-->
<app-footer></app-footer>