<div style="background-color: #774fe5">
  <app-navbar></app-navbar>
  </div>
  <div class="container-fluid sign1">
      <div class="row sign2">
        <div class="col-md-4" style=" text-align: right;">
          <img src="/assets/template/signup.png" alt="Logo">
        </div>
        <div class="col-md-8">
          <p>
            <span class="nowrap sign3">Sign Up</span>&nbsp;
            <span class="nowrap" style="color: #774fe5;">Already Registered ? Login</span>
          </p>
          <p class="sign4">Find out more about the universities and courses that match yous preferences.</p>
        </div>
      </div>
    </div>
  <div class="container" style="width: 800px;height: auto;">
    <!--Personal info-->
    <br>
    <h3 class="signuphead">Your personal details</h3>
    <p class="signuptxt">This will create your account and enable you to receive recommendations (you can opt-out anytime)</p>
    <form>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label for="usr" style="color:#774fe5">First Name</label>
            <input type="text" class="form-control" id="usr" name="username">
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6" style="padding-left: 40px;">
          <div class="form-group" style="padding-top: 7px;">
            <label for="usr"></label>
            <input type="text" class="form-control" id="usr" name="lastname" placeholder="Last Name">
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="usr"></label>
              <input type="text" class="form-control" id="usr" name="username" placeholder="Email Id">
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6" style="padding-top: 24px;padding-left: 37px;">
              <div class="select-wrapper">
                  <select id="dLabel2">
                    <option selected="selected">Current City</option>
                    <option class="textclr">Option 1</option>
                    <option class="textclr">Option 2</option>
                    <option class="textclr">Option 3</option>
                    <option class="textclr">Option 4</option>
                    <option class="textclr">Option 5</option>
                    <option class="textclr">Option 6</option>
                    <option class="textclr">Option 7</option>
                    <option class="textclr">Option 8</option>
                    <!-- <option class="textclr">Option 9</option>
                    <option class="textclr">Option 10</option>
                    <option class="textclr">Option 11</option>
                    <option class="textclr">Option 12</option>
                    <option class="textclr">Option 13</option>
                    <option class="textclr">Option 14</option>
                    <option class="textclr">Option 15</option>
                    <option class="textclr">Option 16</option>
                    <option class="textclr">Option 17</option>
                    <option class="textclr">Option 18</option>
                    <option class="textclr">Option 19</option>
                    <option class="textclr">Option 20</option> -->
                  </select>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-5" style="padding-top: 22px">
                  <div class="form-group mx-sm-7 mb-3">
                      <div class="select-wrapperprsnl">
                          <select id="dLabelpersnl">
                            <option selected="selected">India (+91)</option>
                            <option class="textclr">Interest 1</option>
                            <option class="textclr">Interest 2</option>
                            <option class="textclr">Interest 3</option>
                            <option class="textclr">Interest 4</option>
                            <option class="textclr">Interest 5</option>
                            <option class="textclr">Interest 6</option>
                            <option class="textclr">Interest 7</option>
                            <option class="textclr">Interest 8</option>
                            <option class="textclr">Interest 9</option>
                            <option class="textclr">Interest 10</option>
                            <option class="textclr">Interest 11</option>
                            <option class="textclr">Interest 12</option>
                            <option class="textclr">Interest 13</option>
                            <option class="textclr">Interest 14</option>
                            <option class="textclr">Interest 15</option>
                            <option class="textclr">Interest 16</option>
                            <option class="textclr">Interest 17</option>
                            <option class="textclr">Interest 18</option>
                            <option class="textclr">Interest 19</option>
                            <option class="textclr">Interest 20</option>
                          </select>
                        </div>   
                  </div>
              </div>
              <div class="col-md-7">
                  <div class="form-group">
                      <label for="mobilenumber"></label>
                      <input type="" class="form-control" id="mobilenumber" aria-describedby="mobileHelp" placeholder="Mobile Number">
                    </div>
                </div>
                <p class="text-muted" style="padding-left: 14px;">OTP will be sent to this number.</p>
             </div>
          </div>
        </div>
    </form>
    <!--current edu-->
   <h3 class="signuphead">Your current education details</h3>
   <p class="signuptxt">Accurate details will help us match you with the right universities and schlarships</p>
   <div class="row" style="padding-top: 15px;padding-bottom: 20px;">
   <div class="col-md-5">
    <div class="select-wrapper">
            <select id="dLabel" class="decorated">
              <option selected="selected">Qualification</option>
              <option class="textclr">Option 1</option>
              <option class="textclr">Option 2</option>
              <option class="textclr">Option 3</option>
              <option class="textclr">Option 4</option>
              <option class="textclr">Option 5</option>
              <option class="textclr">Option 6</option>
              <option class="textclr">Option 7</option>
              <option class="textclr">Option 8</option>
              <option class="textclr">Option 9</option>
              <option class="textclr">Option 10</option>
              <option class="textclr">Option 11</option>
              <option class="textclr">Option 12</option>
              <option class="textclr">Option 13</option>
              <option class="textclr">Option 14</option>
              <option class="textclr">Option 15</option>
              <option class="textclr">Option 16</option>
              <option class="textclr">Option 17</option>
              <option class="textclr">Option 18</option>
              <option class="textclr">Option 19</option>
              <option class="textclr">Option 20</option>
            </select>
          </div>
   </div>
   <div class="col-md-1"></div>
   <div class="col-md-6" style="padding-left: 37px;">
    <div class="select-wrapper">
      <select id="dLabel2">
        <option selected="selected">Specialization</option>
        <option class="textclr">Option 1</option>
        <option class="textclr">Option 2</option>
        <option class="textclr">Option 3</option>
        <option class="textclr">Option 4</option>
        <option class="textclr">Option 5</option>
        <option class="textclr">Option 6</option>
        <option class="textclr">Option 7</option>
        <option class="textclr">Option 8</option>
        <!-- <option class="textclr">Option 9</option>
        <option class="textclr">Option 10</option>
        <option class="textclr">Option 11</option>
        <option class="textclr">Option 12</option>
        <option class="textclr">Option 13</option>
        <option class="textclr">Option 14</option>
        <option class="textclr">Option 15</option>
        <option class="textclr">Option 16</option>
        <option class="textclr">Option 17</option>
        <option class="textclr">Option 18</option>
        <option class="textclr">Option 19</option>
        <option class="textclr">Option 20</option> -->
      </select>
    </div>
  </div>
   </div>
  <!--Future edu-->
  <h3 class="signuphead">Your future education preference</h3>
  <p class="signuptxt">This will help us show you only relevant information</p>
  <div class="row" style="padding-top:15px;">
      <div class="col-md-6">
          <h5>When do you plan to start your studies?</h5>
          <div class="row" style="padding-top:15px;">
              <div class="col-md-4"> 
                <label class="customcheck">2019
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label></div>
              <div class="col-md-4">
                  <label class="customcheck">2020
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label> 
              </div>
              <div class="col-md-4">
                  <label class="customcheck">Later
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
              </div>
            </div>
      </div>
    <div class="col-md-6" style="padding-left: 37px;">
        <h5>Program Level</h5>
        <div class="row" style="padding-top:15px;">
           
            <div class="col-md-4"> 
              <label class="customcheck">Bachelors
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></div>
            <div class="col-md-4">
                <label class="customcheck">Masters
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label> 
            </div>
            <div class="col-md-4">
                <label class="customcheck">Phd
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
            </div>
          </div>
    </div>
  </div>
<!--dropdown for country and area interest-->
<div class="row" style="padding-top: 15px;padding-bottom:15px;">
    <div class="col-md-5">
        <div class="select-wrapper">
            <select id="dLabel">
              <option selected="selected">Preferred Country</option>
              <option class="textclr">Country 1</option>
              <option class="textclr">Country 2</option>
              <option class="textclr">Country 3</option>
              <option class="textclr">Country 4</option>
              <option class="textclr">Country 5</option>
              <option class="textclr">Country 6</option>
              <option class="textclr">Country 7</option>
              <option class="textclr">Country 8</option>
              <option class="textclr">Country 9</option>
              <option class="textclr">Country 10</option>
              <option class="textclr">Country 11</option>
              <option class="textclr">Country 12</option>
              <option class="textclr">Country 13</option>
              <option class="textclr">Country 14</option>
              <option class="textclr">Country 15</option>
              <option class="textclr">Country 16</option>
              <option class="textclr">Country 17</option>
              <option class="textclr">Country 18</option>
              <option class="textclr">Country 19</option>
              <option class="textclr">Country 20</option>
            </select>
          </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3" style="padding-left: 32px;">
        <div class="select-wrapper1">
            <select id="dLabel1">
              <option selected="selected">Area of Interest</option>
              <option class="textclr">Interest 1</option>
              <option class="textclr">Interest 2</option>
              <option class="textclr">Interest 3</option>
              <option class="textclr">Interest 4</option>
              <option class="textclr">Interest 5</option>
              <option class="textclr">Interest 6</option>
              <option class="textclr">Interest 7</option>
              <option class="textclr">Interest 8</option>
              <option class="textclr">Interest 9</option>
              <option class="textclr">Interest 10</option>
              <option class="textclr">Interest 11</option>
              <option class="textclr">Interest 12</option>
              <option class="textclr">Interest 13</option>
              <option class="textclr">Interest 14</option>
              <option class="textclr">Interest 15</option>
              <option class="textclr">Interest 16</option>
              <option class="textclr">Interest 17</option>
              <option class="textclr">Interest 18</option>
              <option class="textclr">Interest 19</option>
              <option class="textclr">Interest 20</option>
            </select>
          </div>
    </div>
    <div class="col-md-3">
        <div class="select-wrapper1">
            <select id="dLabel1">
              <option selected="selected">Specialization</option>
              <option class="textclr">Interest 1</option>
              <option class="textclr">Interest 2</option>
              <option class="textclr">Interest 3</option>
              <option class="textclr">Interest 4</option>
              <option class="textclr">Interest 5</option>
              <option class="textclr">Interest 6</option>
              <option class="textclr">Interest 7</option>
              <option class="textclr">Interest 8</option>
              <option class="textclr">Interest 9</option>
              <option class="textclr">Interest 10</option>
              <option class="textclr">Interest 11</option>
              <option class="textclr">Interest 12</option>
              <option class="textclr">Interest 13</option>
              <option class="textclr">Interest 14</option>
              <option class="textclr">Interest 15</option>
              <option class="textclr">Interest 16</option>
              <option class="textclr">Interest 17</option>
              <option class="textclr">Interest 18</option>
              <option class="textclr">Interest 19</option>
              <option class="textclr">Interest 20</option>
            </select>
          </div>
    </div>
    </div>
    <br>

  <label class="customcheck"><span class="text-muted">Yes, I have read and provide my consent for my data to be processed for the purposes as mentioned in the Privacy Policy and Terms & Conditions.</span>
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="customcheck"><span class="text-muted">I agree to be contacted for services related information and promotional purposes.</span>
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <br>
      <div class="btncenter">
          <button class="btn btn-outline-success" type="submit"><b>Sing Up</b></button>
      </div>
      <br><br>
  </div>
  <br>
<app-footerpage></app-footerpage>